@import "/src/assets/scss/shared";

.nav {
  transition-duration: $transition-duration;
  @include display-flex(column) {
    position: fixed;
    width: 80px;
    height: 100%;
    z-index: 10;
    background-color: $color-primary;
    overflow: hidden;
    white-space: nowrap;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    overflow-y: auto;
  }

  &--opened {
    width: 256px;
    height: 100%;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    overflow: hidden;
  }

  &__toggle {
    height: 40px;
    align-items: center;
    @include display-flex {
      justify-content: right;
      cursor: pointer;
      transition: unset;
      margin-right: 25px;
      &--opened {
        width: 100%;
        margin-right: 0px;
        justify-content: center;
        transform: rotateY(-180deg) translateY(0px);
      }
      svg {
        width: 25px;
        height: 25px;
        * {
          fill: $color-secondary;
          stroke: $color-secondary;
        }
        &:hover {
          * {
            transition: unset;
            fill: $color-white;
            stroke: $color-white;
          }
        }
      }
    }
  }

  &__logo {
    @include display-flex {
      justify-content: center;
      color: $color-white;
      margin: 10px auto 30px;
    }
    svg {
      width: auto;
      height: 30px;
    * {
        fill: $color-primary;
      }
    }
  }

  &__main {
    @include display-flex(column);
  }

  &__bottom {
    @include display-flex(column) {
      position: relative;
      margin-top: auto;
      padding: 700px 0 0 0;
    }
    align-items: flex-end;
  }

  &__item {
    transition: unset;
    @include display-flex {
      position: relative;
      height: 48px;
      justify-content: flex-start;
      align-items: center;
      font-size: 16px;
      font-weight: 700;
      line-height: 24px;
      color: $color-secondary;
      cursor: pointer;
      margin-top: 8px;
      margin-bottom: 8px;
    }
    
    &:hover,
    &--active {
      background-color: $color-main;
      color: $color-white;
      svg * {
        fill: $color-white;
        stroke: $color-white;
      }
    }
    
    &--active::before {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      width: 10px;
      height: 48px;
      background-color: $color-secondary;
    }
    
    &__icon {
      width: 30px;
      @include display-flex {
        align-items: center;
        margin: 0px 25px 0px 25px;
      }

      &--home {
        svg * {
          stroke-width: .1px;
          fill: $color-light;
          stroke: $color-light;
        }
      }
    }
  }
}
